// ArkApp.rc
#include "resource.h"
#include <afxres.h>
#include <windows.h>

#pragma code_page(65001)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_ARK_DIALOG DIALOGEX 0, 0, 1100, 420
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_THICKFRAME
CAPTION "NetDrv ARK"
FONT 9, "Segoe UI", 400, 0, 0x1
BEGIN
    CONTROL     "", IDC_TAB, "SysTabControl32",
                TCS_TABS | WS_TABSTOP,
                4, 4, 1092, 16

    PUSHBUTTON  "Refresh", IDC_BTN_REFRESH, 1040, 22, 50, 14
    PUSHBUTTON  "EN/CN",  IDC_BTN_LANG,    860, 22, 50, 14
    PUSHBUTTON  "下载",  IDC_BTN_DOWNLOAD, 980, 22, 56, 14
    PUSHBUTTON  "上传",  IDC_BTN_UPLOAD,   920, 22, 56, 14

    CONTROL     "", IDC_LIST_PROCESS, "SysListView32",
                LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,
                4, 40, 1092, 362
    CONTROL     "", IDC_LIST_DRIVER, "SysListView32",
                LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE,
                4, 40, 1092, 362
    CONTROL     "", IDC_FILE_TREE, "SysTreeView32",
                TVS_HASLINES | TVS_HASBUTTONS | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE,
                4, 40, 360, 362
    CONTROL     "", IDC_FILE_LIST, "SysListView32",
                LVS_REPORT | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE,
                368, 40, 728, 362
    CONTROL     "", IDC_SHOT_VIEW, "Static",
                SS_BITMAP | SS_CENTERIMAGE | WS_BORDER | NOT WS_VISIBLE,
                4, 40, 1092, 362

    LTEXT       "",           IDC_STATUS_TEXT, 7, 406, 1086, 12
END
